.clients-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .clients-grid img {
    max-width: 100%;
    height: 160px;
    object-fit: contain;
  }
  
  .clients-grid .small-logo {
    height: 150px; /* Smaller height */
    max-width: 80%; /* Adjust width proportionally */
  }
  